h1 {
    color: red;
    padding: 80px;
    text-decoration: overline;    
}

a {
    background-color: coral;
    border: 5px;
    border-color: blue;
    border-radius: 60%;
}

body {
    text-align: center;
    background-color: darkkhaki;
    color: chocolate;
}

p {
    font-size: 20px;
    font: verdana;
}

ul {
    background-color: blanchedalmond;
    position: absolute;
    top: 20%;
    
}

img {
    border-radius: 40%;
    .rotate-scale-up {
        -webkit-animation: rotate-scale-up 0.65s linear infinite both;
                animation: rotate-scale-up 0.65s linear infinite both;
    }
}

